PORT=8080
TRU_ID_CLIENT_ID=c7cb223f-7564-4f71-bacf-77b3164edb1d
TRU_ID_CLIENT_SECRET=kembXwCi8qS_EKEQa922_jsP8B
PROJECT_PATH=
#USERNAME=username
#PASSWORD=password
#LOCALTUNNEL_ENABLED=true
#LOCALTUNNEL_SUBDOMAIN=a-subdomain
#NGROK_ENABLED=true
#NGROK_SUBDOMAIN=a-subdomain
#NGROK_AUTHTOKEN=
#NGROK_REGION=eu